doctype html
div class="title" data-title="Yo #{40 + 2}"
  h2 Hello World
  p
    | HTML is good but...
    br
    ' slim is #{ "rea" <> "lly" }
    strong BETTER

hr class="my-class"

div class="disclaimer"

  p class="disclaimer" That's just my humble opinion
  ul
    li id="first" First
    li id="second" Second
    li
      | Maths are hard. 1 + 1 =
      = 1 + 1
    li
      | Maths are nice with more spaces:
      =' 191 * 7
  - if 2 > 1 do
    | Yeahhhhh 2 is still geater than 1
  div class="nested1"
    div class="nested2"
      a href="link"
        | Click to enlarge
  span Here we are
footer The end
script src="#{"/js/app.js"}"
